
*{
    font-family: "Montserrat", sans-serif;
    box-sizing: content-box;
    margin: 0;
    padding:0;
}

.left-container {
    display: inline-block;
}
.right-container{
    display: inline-block;
    margin-left: auto;
}

header{
    margin: 44px 0 144px 76px;   
}
.link-header{
    font-weight: 600;
    font-size: 24px;
    margin-right: 23px;
    cursor: pointer;
    color: #989D9C;
}

.button-header{
    background: #665AE1;
    width: 130px;
    height: 41px; 
    font-weight: 600;
    font-size: 24px;
   color: #FFFFFF;
   border-radius: 40px;
   border: none;
   cursor: pointer;
}

img{
    width: 500px;
    margin-left: 125px;
    display: inline-block;
}

h1{
    font-weight: 900;
    font-size: 100px;
    color: #515151;
}

H2{
    font-weight: 500;
    font-size: 58px;
    color: #515151
}

P{
   margin-top:32px ;
   font-weight: 400;
   font-size: 24px;
   color: #848484;
   width: 515px;
}

.button-main{
    width: 239px;
    margin-top: 65px;
    height: 64px;
    border-radius: 40px;
    border: none;
    background: #ADFF00;
    font-weight: 700;
    font-size: 28px;color: #000000;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width:1380px){
    .right-container{
        display: block;
        margin: auto;
        text-align: center;
    }
    .left-container {
        display: block;
    }
    h1{
        font-size: 50px;
    }
    p{
        text-align: center;
        margin: auto;  
    }
    img{
        display: block;
        margin: 0 auto;
       
    }
  
}
@media screen and (max-width:870px){
  header{
        margin: 35px 3px 95px 30px;
    }
 .link-header{
        margin-left: 2px;
        font-size: 17px;
    }
    .button-header{
        width: 100px;
        height: 20px;
        font-size: 16px; 
    }
}

@media screen and (max-width:730px) {
    main{
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        text-align: center;
    }
    p{
        display: none;
    }
    header{
        display: none;
    }
    img{   
       max-width: 90%;
       margin: 100px auto 28px
    }
    h1{
        font-weight: 900;
        font-size: 50px;
        width: 263px;
        height: 52px;
        margin: 20px auto;   
    }
   
    .button-main{
        margin:auto;
        display: block;
    }
}


